In [3]:
import pandas as pd
import os

In [73]:
res_dir = "/home/pampuch/studia/magisterka/final_summaries/gfa_vs_maf_res_new/"

In [4]:
for dir in os.listdir(res_dir):
    print(dir)

sim_gr_1e-11_lr_1e-12_mu_1e-15_rep1_fragmented
sim_gr_1e-11_lr_1e-12_mu_1e-15_rep1_contaminated
klebsiella_subset
sim_gr_1e-11_lr_1e-12_mu_1e-15_rep1
GPSC_subset

In [74]:
csv_name = "gfa_vs_maf_new.csv"

In [8]:
## klebsiella

df = pd.read_csv(os.path.join(res_dir, "klebsiella_subset", csv_name))

                  contig_1              contig_2  frequency_1  frequency_2
0     5150_1_3.contig00001  5151_6_6.contig00002     0.000000     0.000000
1     5150_1_3.contig00001  5197_7_5.contig00004     0.850289     0.811998
2     5150_1_3.contig00001  5150_3_5.contig00001     0.480278     0.821527
3     5150_1_3.contig00001  5151_2_6.contig00002     0.548110     0.874504
4     5150_1_3.contig00001  5197_7_5.contig00009     0.000000     0.000000
...                    ...                   ...          ...          ...
1069  5150_2_2.contig00001  5235_6_6.contig00822     0.000000     0.888013
1070  5150_2_2.contig00001  5235_6_6.contig00830     0.000000     0.808429
1071  5150_2_2.contig00001  5235_6_6.contig00835     0.244792     0.244792
1072  5150_2_2.contig00001  5235_1_4.contig01214     0.000000     0.822581
1073  5197_2_1.contig00001  5197_7_5.contig00001     0.721227     0.905879

[1074 rows x 4 columns]

In [9]:
df["mean"] = (df["frequency_1"] + df["frequency_2"])/2
df["mean round"] = df["mean"].round(decimals=1)

In [10]:
df

,contig_1,contig_2,frequency_1,frequency_2,mean,mean round
0,5150_1_3.contig00001,5151_6_6.contig00002,0.000000,0.000000,0.000000,0.0
1,5150_1_3.contig00001,5197_7_5.contig00004,0.855802,0.805651,0.830726,0.8
2,5150_1_3.contig00001,5150_3_5.contig00001,0.477419,0.811862,0.644640,0.6
3,5150_1_3.contig00001,5151_2_6.contig00002,0.542921,0.869652,0.706286,0.7
4,5150_1_3.contig00001,5197_7_5.contig00009,0.000000,0.000000,0.000000,0.0
...,...,...,...,...,...,...
15437,5151_6_6.contig00008,5235_5_4.contig00229,0.835102,0.835102,0.835102,0.8
15438,5151_6_6.contig00008,5235_2_1.contig00226,0.000000,0.647628,0.323814,0.3
15439,5151_6_6.contig00008,5235_2_1.contig00227,0.944547,0.000000,0.472273,0.5
15440,5151_6_6.contig00008,5235_6_6.contig00223,0.000000,0.797664,0.398832,0.4
15441,5151_6_6.contig00008,5235_2_1.contig00232,0.000000,0.908084,0.454042,0.5

In [11]:
df["mean"].mean()

0.5663020082330678

In [12]:
df["mean"].max()

1.0188461970565106

In [13]:
df["mean"].min()

0.0

In [14]:
df["mean round"].median()

0.5

In [84]:
def df_get_summary(dataset, res_dir, csv_name):
    df = pd.read_csv(os.path.join(res_dir, dataset, csv_name))
    df["mean"] = (df["frequency_1"] + df["frequency_2"])/2
    df["mean round"] = df["mean"].round(decimals=1)
    return [df["mean round"].min(), df["mean round"].max(),df["mean"].mean().round(1),df["mean round"].median()]

In [70]:
df_summary("klebsiella_subset", res_dir, csv_name)

[0.0, 1.0, 0.6, 0.5]

In [72]:
res_dir_old = "/home/pampuch/studia/magisterka/gfa_vs_maf_csv_res_old"
csv_name_old = "gfa_vs_maf.csv"

In [40]:
df_summary("klebsiella_subset", res_dir_old, csv_name_old)

[0.0, 1.0, 0.4]

In [76]:
df_col_names = ["Dataset", "Minimalne Å›rednie pokrycie", "Maksymalne Å›rednie pokrycie", "Åšrednia Å›redniego  pokrycia", "Mediana Å›redniego pokrycia"]
df_cols = []
for dataset in os.listdir(res_dir):
    df_cols.append([dataset] + df_get_summary(dataset, res_dir, csv_name))

In [77]:
df_summary = pd.DataFrame(columns = df_col_names, data=df_cols)

In [78]:
df_summary

,Dataset,Minimalne Å›rednie pokrycie,Maksymalne Å›rednie pokrycie,Åšrednia Å›redniego pokrycia,Mediana Å›redniego pokrycia
0,sim_gr_1e-11_lr_1e-12_mu_1e-15_rep1_fragmented,0.0,1.0,0.5,0.5
1,sim_gr_1e-11_lr_1e-12_mu_1e-15_rep1_contaminated,0.0,1.0,0.5,0.6
2,klebsiella_subset,0.0,1.0,0.6,0.5
3,sim_gr_1e-11_lr_1e-12_mu_1e-15_rep1,0.0,1.0,0.6,0.7
4,GPSC_subset,0.0,1.0,0.5,0.4

In [85]:
def datasets_mapping(x):
    if x.startswith("sim"):
        x= x.replace("sim_gr_1e-11_lr_1e-12_mu_1e-15_rep1", "E. coli ")
    else:
        x= x.replace("_subset", "")
        x= x.replace("GPSC", "pneumococcus")
    return x.strip()
    
df_summary["Dataset"] = df_summary["Dataset"].apply(lambda x: datasets_mapping(x))

TypeError: 'function' object is not subscriptable

In [86]:
df_col_names = ["Dataset", "Minimalne Å›rednie pokrycie", "Maksymalne Å›rednie pokrycie", "Åšrednia Å›redniego  pokrycia", "Mediana Å›redniego pokrycia"]
df_cols = []
for dataset in os.listdir(res_dir):
    df_cols.append([dataset] + df_get_summary(dataset, res_dir_old, csv_name_old))

In [87]:
df_old = pd.DataFrame(columns = df_col_names, data = df_cols)

In [88]:
df_old

,Dataset,Minimalne Å›rednie pokrycie,Maksymalne Å›rednie pokrycie,Åšrednia Å›redniego pokrycia,Mediana Å›redniego pokrycia
0,sim_gr_1e-11_lr_1e-12_mu_1e-15_rep1_fragmented,0.0,0.9,0.5,0.5
1,sim_gr_1e-11_lr_1e-12_mu_1e-15_rep1_contaminated,0.0,0.9,0.8,0.8
2,klebsiella_subset,0.0,1.0,0.5,0.4
3,sim_gr_1e-11_lr_1e-12_mu_1e-15_rep1,0.3,0.9,0.8,0.8
4,GPSC_subset,0.0,1.1,0.5,0.5

In [82]:
df_summary.to_csv(os.path.join("~/studia/magisterka/final_summaries/","gfa_vs_maf_summary.csv"), index=False)