In [1]:
import pandas as pd
import os

In [3]:
res_dir = "/home/pampuch/studia/magisterka/gfa_vs_maf_csv_res"

In [6]:
for dir in os.listdir(res_dir):
    print(dir)

sim_gr_1e-11_lr_1e-12_mu_1e-15_rep1_fragmented
sim_gr_1e-11_lr_1e-12_mu_1e-15_rep1_contaminated
klebsiella_subset
sim_gr_1e-11_lr_1e-12_mu_1e-15_rep1
GPSC_subset

In [5]:
csv_name = "gfa_vs_maf.csv"

In [8]:
## klebsiella

df = pd.read_csv(os.path.join(res_dir, "klebsiella_subset", csv_name))

In [9]:
df

                  contig_1              contig_2  frequency_1  frequency_2
0     5150_1_3.contig00001  5151_6_6.contig00002     0.000000     0.000000
1     5150_1_3.contig00001  5197_7_5.contig00004     0.850289     0.811998
2     5150_1_3.contig00001  5150_3_5.contig00001     0.480278     0.821527
3     5150_1_3.contig00001  5151_2_6.contig00002     0.548110     0.874504
4     5150_1_3.contig00001  5197_7_5.contig00009     0.000000     0.000000
...                    ...                   ...          ...          ...
1069  5150_2_2.contig00001  5235_6_6.contig00822     0.000000     0.888013
1070  5150_2_2.contig00001  5235_6_6.contig00830     0.000000     0.808429
1071  5150_2_2.contig00001  5235_6_6.contig00835     0.244792     0.244792
1072  5150_2_2.contig00001  5235_1_4.contig01214     0.000000     0.822581
1073  5197_2_1.contig00001  5197_7_5.contig00001     0.721227     0.905879

[1074 rows x 4 columns]

In [16]:
df["mean"] = (df["frequency_1"] + df["frequency_2"])/2
df["mean round"] = df["mean"].round(decimals=1)

In [17]:
df

,contig_1,contig_2,frequency_1,frequency_2,mean,mean round
0,5150_1_3.contig00001,5151_6_6.contig00002,0.000000,0.000000,0.000000,0.0
1,5150_1_3.contig00001,5197_7_5.contig00004,0.850289,0.811998,0.831143,0.8
2,5150_1_3.contig00001,5150_3_5.contig00001,0.480278,0.821527,0.650902,0.7
3,5150_1_3.contig00001,5151_2_6.contig00002,0.548110,0.874504,0.711307,0.7
4,5150_1_3.contig00001,5197_7_5.contig00009,0.000000,0.000000,0.000000,0.0
...,...,...,...,...,...,...
1069,5150_2_2.contig00001,5235_6_6.contig00822,0.000000,0.888013,0.444006,0.4
1070,5150_2_2.contig00001,5235_6_6.contig00830,0.000000,0.808429,0.404215,0.4
1071,5150_2_2.contig00001,5235_6_6.contig00835,0.244792,0.244792,0.244792,0.2
1072,5150_2_2.contig00001,5235_1_4.contig01214,0.000000,0.822581,0.411290,0.4
1073,5197_2_1.contig00001,5197_7_5.contig00001,0.721227,0.905879,0.813553,0.8

In [12]:
df["mean"].mean()

0.47609218185528684

In [13]:
df["mean"].max()

0.9866121234659725

In [14]:
df["mean"].min()

0.0

In [18]:
df["mean round"].median()

0.4

In [ ]:
def df_summary(dataset):
    df = pd.read(os.path.join)
    df["mean"] = (df["frequency_1"] + df["frequency_2"])/2
    df["mean round"] = df["mean"].round(decimals=1)